.container{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.calltoaction-text{
    
}

.main-section{
    flex-direction: row;
    flex-wrap: wrap;
}

.main-section div{
    width: 45%;
    margin: auto;
    
}

.main-article{
    flex-direction: row;
    flex-wrap: wrap;
}

.main-article div{
    width: 45%;
    margin: auto;
    height: 14.3rem;
}
